body{
	background: #f6f6f6;
}
.expert-list{
	margin-bottom:4rem;
}
.expert-list .top{
	padding: 3rem 1.2rem 1rem 1.2rem;position: relative;
    z-index: 10;
	background: #ffffff;
}
.expert-list .top a{
	display: inline-block;width: 2.25rem;height: 1.7rem;float: left;margin-top: 0.3rem;
}
.expert-list .top a img{
	width: 100%;
}
.expert-list .top h1{
	font-size: 1.7rem;width: 100%;text-align: center;
}

.expert-content{
	background: #ffffff;
}
.expert-content .list{
	overflow: hidden;
	padding:0 1.2rem;
	margin-top:1rem;
}
.expert-content .list li{
	width:100%;
	padding:2.4rem 0.5rem;
	border-bottom:solid 1px #e8e7e7;
	overflow: hidden;
}
.expert-content .list li i{
	display: inline-block;
	width: 14%;
	float: left;
	border-radius: 50%;
}
.expert-content .list li i img{
	width:100%;
}
.expert-content .list li .list-right{
	width:86%;
	float: right;
	padding-left: 6%;
	position: relative;
}
.expert-content .list li .list-right h4{
	 font-size:1.4rem;
 }
.expert-content .list li .list-right h4 span{
	display: inline-block;
	font-size:1rem;
	color: #ffffff;
	background: #ff9b0d;
	padding:0.1rem 0.7rem;
	border-radius: 0.2rem;
	margin-left:0.5rem;
}
.expert-content .list li .list-right p{
	font-size:1rem;
	color: #525252;
	margin-top:0.8rem;
}
.expert-content .list li .list-right i{
	display: inline-block;
	width:1.7rem;
	height:1.7rem;
	background: url("../images/r-arrow.png");
	-webkit-background-size:100%;
	background-size:100%;
	position: absolute;
	top:50%;
	right:0;
	margin-top:-0.9rem;
}
