body{ background: #f5f5f5}
.head{font-size: 1.7rem; line-height: 1.7rem; padding: 1.4rem; text-align: center; background: #fff}

/*历史数据展示框*/
.state_tab_con{ background: #fff; margin-top: 0.6rem; height: 24.2rem; overflow: hidden}
.state_tab_con .year{ width: 100%; height: 24.2rem;  float: left; display: block}


.state_btn_con{ padding:1.2rem 1rem;  color: #4c4c4c; overflow: hidden; background: #fff; position: relative; margin-top: 0.6rem}
.state_btn_con span{ display: inline-block;  font-size:1.5rem; line-height: 1.9rem}
.state_btn{ width:4.6rem; height: 1.9rem; border: solid 1px #03a9f4; border-radius:1.9rem;  display:inline-block; position: absolute; right: 2rem;
    top:1.1rem; }
.state_btn span{ display: inline-block; color: #dbdbdb; font-weight: 500; width: 1.7rem; height: 1.7rem; text-align: center; line-height: 1.6rem; border-radius:1.7rem;  font-size: 1rem;  }
.day_btn{ float: right; margin: 0.1rem 0.1rem 0 0}
.year_btn{ float: left; margin: 0.1rem 0 0 0.1rem}

.active{ background: #03a9f4; color: #fff !important; transition: all 0.8s}


/*echarts图表容器*/
#year_con, #day_con{width: 100%;
    height:24.2rem;}