.functional_area{
	height: 15rem;
	width: 100%;
	background: #FFFFFF;
}
.functional_area>div{
	width: 50%;
	height: 100%;
	float: left;
}
.fun_area_left{
	text-align: center;
	padding:12%;
	font-size: 1.5rem;
}
.fun_score{
	width: 80%;

}
.fun_right_top{
	height: 50%;
	width: 100%;
	padding: 2.4rem 3.1rem;
	line-height: 2.7rem;
	border-bottom: 1px solid #F6F6F6;
}

.fun_right_top span{
	display: inline-block;
	float: right;
	font-size: 1.4rem;
	color: #4f4f4f;
}
.fun_right_bottom{
	display: flex;
	align-items: center;
}
.fun_right_bottom>div{
	width: 100%;
	padding:1rem 1rem;
	text-align: center;	
}
.fun_right_bottom span{
	float: none;
	height: 3rem;
	display: inline-block;
}
.fun_right_bottom span img{
	height:60%;
}




.fun_con_right{
	display: inline-block;
	height: 100%;
}
.fun_con_right img{
	height: 100%;
}


.split{
	height:3.3rem;
	padding: 0.8rem 1.7rem;
	color: #b3b2b2;
	line-height: 1.6rem;
}
.con_right{
	height: 1.5rem;
	float: right;
}
.target_today{
	height: 20rem;
	background: #FFFFFF;
}
.target_today>div{

}
.target_today>div .con_left{
	height: 1.9rem;
}
.target_today>div span{
	width: 6.5rem;
	height: 2.5rem;
	display: inline-block;
	text-align: center;
	float: right;
	border: 1px solid #03A9F4;	
}
.target_today>div a{
	color: #03A9F4;	
}
.target_today>div .itsdone{
	border: none;
	background: #F6F6F6;
	color: #c9c9c9;
}
.health_infor{
	width: 100%;
	background: #FFFFFF;
}
.health_infor>div{
	height:10.5rem;
	padding: 1.6rem 1.8rem;
	border-bottom: 1px solid #F6F6F6;	
}
.infor_img{
	width: 28%;
	height: 100%;
	float: left;
    overflow: hidden;
    position: relative;	
}
.infor_img img{
    width: 100%;
}
.infor_con{
	width: 70%;
	height: 100%;
	float: right;
}
.infor_con .title{
	font-size: 1.4rem;
	font-weight: 900;
}
.infor_con .introduction{
	font-size: 1.1rem;
	color: #b2b2b2;
	line-height:1.5;
	padding: 0.8rem 0 0 0;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}


.target_today_box{
	width: 9rem;
	height:auto;
	text-align: center;	
}
.target_today_boder{
	padding:2rem 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.target_today_box .title{
	font-size:1.3rem;
	line-height:2.5rem;
	color:#574d46;
}
.target_today_box .date{
	font-size:1.8rem;
	margin-top:1.2rem ;
	color:#313030;
}
.target_today_box .unit{
	font-size:1rem;
	margin-top:.5rem ;
}
.target_today_box .done_bt{
	line-height: 2rem;
	width: 6.5rem;
	margin:1.5rem auto .9rem;
	font-size:1.1rem;
	color: #483d30;
	border-radius: 30px;	

}
.borde_93e4e7{
	border: 1px solid #93e4e7;
}
.borde_9ff1d3{
	border: 1px solid #9ff1d3;
}
.borde_95d4fc{
	border: 1px solid #95d4fc;
}
.bg_93e4e7{
	background:#93e4e7;
}
.bg_9ff1d3{
	background:#9ff1d3;
}
.bg_95d4fc{
	background:#95d4fc;
}
.color_93e4e7{
	color: #93e4e7;
}
.color_9ff1d3{
	color: #9ff1d3;
}
.color_95d4fc{
	color: #95d4fc;
}
.addplan{
	margin: auto;
	width: 7rem;
	height: 1.6rem;
	border-left: 1px solid #c0d5de;
	border-right: 1px solid #c0d5de;
	font-size: 1.1rem;
	color: #8b8b8b;
}
.addplan img{
	display: inline-block;
	width:1.6rem;
	margin: auto .3rem;
}
