
.upImg {
    height: auto;
    background: #fff;
    margin-top: 1rem;
}

.upImg h3 {
    color: #8d8d8d;
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0.5rem 0 1.6rem;
}

#Preservation {
    display: none;
    position: fixed;
    bottom: 0;
    padding: 1.5rem;
    text-align: center;
    width: 100%;
    max-width: 640px;
    font-size: 1.6rem;
    color: #fff;
    background: #60c634;
}

.UpError {
    font-size: 1rem;
    color: #bbbbbb;
    line-height: 1.5rem;
    height: 2rem;
}

.UpError span {
    color: #f21111;
}

.Upok {
    font-size: 1rem;
    color: #61c634;
}

.UpimgCon {
    height: auto;
    overflow: hidden;
    margin-top: 2rem;
}

#upImg {
    display: inline-block;
    width: 6rem;
    height: 6rem;
    background: url(../images/1_07.png) no-repeat;
    background-size: 96%;
    float: left;
    margin-right: 0.3rem;
    margin-bottom: 0.7rem;
    border: solid 1px #fff;
}

#fileImage {
    display: none;
    float: left;
}

.upload_preview {
}

.upload_append_list {
    display: inline-block;
    margin-right: 0.3rem;
    margin-left: 0.5rem;
    border: solid 1px #f6f6f6;
    margin-bottom: 0.7rem;
    position: relative;
    width: 6rem;
    height: 6rem;
    line-height: 6rem;
    overflow: hidden;
    text-align: center;
}

.upload_append_list a {
    font-size: 0.8rem;
    display: block;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: .1rem 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 1.4rem;
}

.upload_preview strong {
    display: inline-block;
    display: none;
    font-size: 0.8rem;
    font-weight: 100;
    max-width: 6rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.upload_preview img {
    width: auto;
    max-width: 6rem;
    height: auto;
    max-height: 6rem;
}
