body {
  background: #f6f6f6;
}
body .shop {
  width: 100%;
}
body .shop .shop-box {
  background: #ffffff;
  display: -webkit-flex;
  display: flex;
  padding: 1.8rem 2.3rem;
}
body .shop .shop-box .box-child {
  display: inline-block;
  flex: 1;
  text-align: center;
  margin-right: 2rem;
}
body .shop .shop-box .box-child i {
  display: inline-block;
  width: 4.3rem;
  height: 4.3rem;
}
body .shop .shop-box .box-child span {
  font-size: 1.1rem;
  color: rgba(40, 40, 40, 0.8);
}
body .shop .shop-box .box-child:first-child i {
  background: url("../images/shop-icon_03.png") 0 0 no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
}
body .shop .shop-box .box-child:nth-child(2) i {
  background: url("../images/shop-icon_05.png") 0 0 no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
}
body .shop .shop-box .box-child:nth-child(3) i {
  background: url("../images/shop-icon_07.png") 0 0 no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
}
body .shop .shop-box .box-child:last-child {
  margin-right: 0;
}
body .shop .shop-box .box-child:last-child i {
  background: url("../images/shop-icon_09.png") 0 0 no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
}
body .shop .shop-content h4 {
  padding: 0.8rem 1.5rem;
  font-size: 1.2rem;
  color: rgba(40, 40, 40, 0.4);
}
body .shop .shop-content h4 i {
  display: inline-block;
  width: 0.7rem;
  height: 1.2rem;
  background: url("../images/shop-right_03.png") 0 0 no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  float: right;
}
body .shop .shop-content ul {
  overflow: hidden;
  width: 100%;
  background: #ffffff;
  padding: 0 .4rem;
}
body .shop .shop-content ul li {
  width: 33%;
  float: left;
  padding: 1rem 0.3rem;
}
body .shop .shop-content .shop-img {
	height: 9.5rem;
  width: 100%;
  display:inline-block;

}
body .shop .shop-content ul li span img {
  width: 100%;
}
body .shop .shop-content ul li p {
  font-size: 1.3rem;
  line-height: 1.5rem;
  color: #333333;
  font-weight: 700;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;  
}
body .shop .shop-content ul li .price {
  color: red;
  font-size: 1rem;
}
body .shop .shop-content ul li .price span {
  color: #9e9e9e;
  margin-left: 0.3rem;
  text-decoration: line-through;
}
