body {
  background: #f6f6f6;
}
header{
	background: #4e9bea;
}
header h1{
	color: #FFFFFF;
}
.bg-write {
  background: #ffffff;
}
.gauge-header {
  overflow: hidden;
  background: #4e9bea;
  padding: 0rem 0 1rem;
  border-bottom: 1px solid #e0dfde;
}
.gauge-header a {
  display: inline-block;
  width: 2rem;
  height: 2rem;
}
.gauge-header a:first-child {
  position: absolute;
  left: 1.4rem;
  top: 3rem;
  background: url("../images/white-back.png") no-repeat;
  background-size: 100% 100%;
}
.gauge-header a:nth-child(3) {
  position: absolute;
  right: 1.4rem;
  top: 3rem;
  background: url("../images/gauge-iocn_03.png") no-repeat;
  background-size: 100% 100%;
}
.gauge-header > p {
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-size: 1.7rem;
}
.step-number-wrap {
  margin: 2rem auto;
  width: 24rem;
  height: 24rem;
  border: 0.1rem solid #ffffff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.step-number {
  color: #ffffff;
  font-size: 1.1rem;
  text-align: center;
  width: 22rem;
  height: 22rem;
  margin: 1rem auto;
  padding-top: 6rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 1rem solid #ffffff;
}
.step-number span {
  font-size: 4.5rem;
  display: inline-block;
  transform: rotateY(-50deg);
  margin-right: -0.9rem;
}
.gauge-main {
  color: #676767;
  padding: 2rem;
}
.gauge-main i {
  display: inline-block;
  width: 2.2rem;
  height: 2.2rem;
  float: left;
  font-size: 1.5rem;
}
.gauge-main dl {
  float: left;
  text-align: left;
  margin-left: 1.5rem;
}
.gauge-main dl dt {
  font-size: 1.5rem;
  color: #676767;
}
.gauge-main dl dd {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #cfcfcf;
}
.gauge-main:first-child {
  border: 1px solid #e8e8e8;
}
.gauge-main:first-child i {
  background: url("../images/gauge-iocn_07.png");
  background-size: 100%;
}
.gauge-main:nth-child(2) i {
  background: url("../images/gauge-iocn_10.png");
  background-size: 100%;
}
